.header{
    display:inline;
    /* margin-top:-200px; */
}

#highscores{
    float:left;
}

#timer{
    float:right;
    visibility:hidden;
}

#options{
    visibility:hidden;

}

.content{
    text-align:center;
    margin-top:200px;
}